
*{
    margin: 0%;
    padding: 0%;
}

main {
width: 100vw;
height: 100vh;
background-color: brown;
display: flex;
justify-content: center;
align-items: center;
}

.content img{
    width: 400px;
    height: fit-content;
    margin-bottom: 30px;
}

.content{
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: rgb(128, 20, 20);
    text-transform: uppercase;
}

#not{
    background-color: rgb(255, 0, 0);
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    color: white;
}

#yes{
    background-color: rgb(11, 167, 19);
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    color: white; 
}

